.container {
	width: 100px;
	margin: 0 auto;
	padding: 30px 0;		
}
.container form {
    width: 600px;
	color: #999;
	border-radius: 30px;
	margin-bottom: 15px;
	background: wheat;
	padding: 30px;
}

.container h3 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.container h4 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}

.container .form-group {
	margin-bottom: 10px;
}
.container textarea {
	min-height: 38px;
	box-shadow: none ;
}	

